<h1>Add Employee</h1>
<form method="post" action="/Employee/Register">
<label for="name">First Name: </label>
<input type="text" id="FirstName" name="firstName" required />


<label for="name">Last Name: </label>
<input type="text" id="LastName" name="lastName" required />


<label for="name">Email: </label>
<input type="text" id="Email" name="email" required />


<label for="name">Department: </label>
<input type="text" id="Department" name="department" required />

<button type="submit">Add</button>
</form>